@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
header {
    width: 100%;
    display: flex;
    position: fixed;
    height: 92px;
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    background: #eeeeee;
}

.titleHeader {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 21px;
}

.titleHeader h1 {
    font-family: Righteous;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}

.titleHeader p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.containerFood {
    display: flex;
    flex-direction: column;
    height: 268px;
    margin-bottom: 27px;
    margin-left: 19px;
}

.spaceTopAndBottom {
    padding-top: 100px;
    padding-bottom: 90px
}

.titleFoodSection {
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
}

.cardsContent {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.cardFood {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 160px;
    margin: 17px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 0.75rem;
    border: 0;
    flex-shrink: 0;
}

.selected {
    border: 3px solid green;
}

.selected .checkIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16.44px;
    width: 16.44px;
    background-color: green;
    border-radius: 50%
}

.checkIcon>ion-icon {
    color: white;
}

.footerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cardContent {
    width: 90%;
    height: 90%;
}

.cardContent img {
    height: 87px;
    width: 100%;
}

.cardContent h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-top: 8px;
    margin-bottom: 6px;
}

.cardContent p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    color: #a6a6a6;
    margin-bottom: 4px;
}

.cardContent span {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.selectFood {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 92px;
    background-color: white;
    bottom: 0;
    left: 0;
}

.buttonDisabled {
    width: 364px;
    height: 61px;
    background: #cbcbcb;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
}

.buttonEnabled {
    width: 364px;
    height: 61px;
    background: green;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
}

.hidden {
    display: none;
}

.closeOrderScreen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modalOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 390px;
    background: #50d074;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.dataOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    border-radius: 9px;
    padding: 0.75rem;
    border: 0;
}

.dataOrder h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 12px;
    color: #ffffff;
}

.dataOrderAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    border-radius: 9px;
    padding: 0.4rem;
    border: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.018em;
    color: #ffffff;
}

.dataOrderTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 0.4rem;
    border: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    margin-bottom: 12px;
    color: #ffffff;
}

.btnOk {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    width: 333px;
    height: 52px;
    border-radius: 50px;
    border: none;
    color: #50d074;
    margin-bottom: 12px;
}

.btnCancel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background: none;
    border: none;
    color: #ffffff;
}